<div class="d-grid">
  <div class="row">
    <div class="col-9">
      <input
        type="email"
        class="form-control"
        placeholder="Ingrese la tarea"
        [formControl]="task">
    </div>

    <button
      class="btn btn-primary col-3"
      (click)="addTask()">
      Agregar
    </button>
  </div>

  <div
    class="row mt-3"
    *ngFor="let task of tasks()">
    <div class="form-check align-items-center col-9">

      <input
        class="form-check-input"
        type="checkbox"
        [value]="task.isCompleted"
        (click)="toggleCompletedTask(task)">
      <label
        class="form-check-label"
        [ngClass]="{'text-decoration-line-through': task.isCompleted}">
        {{task.name}}
      </label>
    </div>
    <button
      class="btn btn-danger col-3"
      (click)="deleteTask(task)">
      Eliminar
    </button>
  </div>
  <button
    class="btn btn-primary mt-3"
    (click)="resetTask()">
    Eliminar todas las tareas
  </button>

  <p>Tareas completadas {{completedTasks().length}}</p>
  <p>Tareas NO completadas {{uncompletedTasks().length}}</p>
</div>
