<nav class="navbar fixed-top navbar-expand bg-dark justify-content-between">
  <a
    class="navbar-brand text-white"
    routerLink="store">
    <img
      src="assets/cody-store.png"
      width="100px"
      alt="Cody Store">
    Cody's Store
  </a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link text-white"
        aria-current="page"
        routerLink="tasks">
        Mis tareas
      </a>
    </li>
    <li class="nav-item">
          <a
        class="nav-link text-white"
        aria-current="page"
        routerLink="store">
        Tienda
      </a>
        </li>
    <li class="nav-item">
          <a
        class="nav-link text-white flex align-items-center"
        aria-current="page"
        routerLink="cart">
        Carrito: 0
      </a>
        </li>

  </ul>

</nav>
