.card {
  height: 400px;

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  &-body {
    .card-title {
      height: 20px;
      overflow: hidden;
    }

    .card-text {
      height: 150px;
      overflow: hidden;
    }
  }
}
