<div class="card" style="width: 18rem">
  <img [src]="product.image" class="card-img-top" [alt]="product.title" />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <div class="d-flex justify-content-between">
      <span>Precio: {{ product.price }}</span>
      <span>Cantidad: {{ product.rating.count }}</span>
    </div>
    <button class="btn btn-primary" (click)="addProduct(product)">
      Agregar al carrito
    </button>
  </div>
</div>
